<!DOCTYPE css>

title {
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

img{
	height: 500px;
	width: 350px;
}

.center{
 	text-align: center;
	
}


h4{
	text-align: center;
}

p{
	text-indent: 50px;
	text-align: center;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.centerL {
    text-align: center;
}

