
h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

img{
	height: 500px;
	width: 350px;
}

ul.b {
  
	
}


h4{
	text-align: center;
}

p{
	text-indent: 50px;
	text-align: center;
}

img.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

